<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color:#E4E6FC">
    
    <h1 class="title">Tripit</h1>

    <div class="subheader" >
        <h1> AI TRAVEL HELPER </h1>
    </div>
    <div>

        <form class="search-form " action="/" method="post">
            {% csrf_token %}

                    {{form.origin}}
                    {{form.destination}}

            <div class="date-form">
                {{form.departure_date}}
                {{form.return_date}}
            </div>

            <div class="search-button">
                <button class="btn btn-outline-dark" type="submit" name="search">SEARCH</button>
            </div>
        </form>

    </div>


    <div class="img-container-1">
        <img id="plane" src="/static/images/plane.png" alt="plane">
    </div>

    <div class="img-container-2">
        <img id="clouds" src="static/images/clouds.png" alt="clouds">
        <div class="overlay-content">
            <h1>Tripit</h1>
            <p>check out my linkedin</p>

            <a href="https://www.linkedin.com/in/ahmed-mohamed-74038021a/">
                <button type="button" class="btn btn-outline-light">Click Me</button>
            </a>

        </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

<!--{% for flight in flights.data.itineraries %}
        <p>{{flight.price.formatted}}</p>
    {% endfor %}
-->